<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hOD">
            <h2><span>HOD</span> {{hOD.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Auth Code</span></dt>
                <dd>
                    <span>{{hOD.authCode}}</span>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="hOD.departmentId">
                        <a [routerLink]="['/department', hOD.departmentId, 'view']">{{hOD.departmentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hod', hOD.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
