<div>
    <h2 id="page-heading">
        <span>Biometric Backups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-biometric-backup" [routerLink]="['/biometric-backup/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Biometric Backup
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="biometricBackups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>For User Type</span></th>
            <th><span>Identifier</span></th>
            <th><span>Json File</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let biometricBackup of biometricBackups ;trackBy: trackId">
                <td><a [routerLink]="['/biometric-backup', biometricBackup.id, 'view' ]">{{biometricBackup.id}}</a></td>
                <td>{{biometricBackup.forUserType}}</td>
                <td>{{biometricBackup.identifier}}</td>
                <td>
                    <a *ngIf="biometricBackup.jsonFile" (click)="openFile(biometricBackup.jsonFileContentType, biometricBackup.jsonFile)">open</a>
                    <span *ngIf="biometricBackup.jsonFile">{{biometricBackup.jsonFileContentType}}, {{byteSize(biometricBackup.jsonFile)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/biometric-backup', biometricBackup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/biometric-backup', biometricBackup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'biometric-backup', { outlets: { popup: biometricBackup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
