<!-- <div>
    <h2 id="page-heading">
        <span>Time Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-time-table" [routerLink]="['/time-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Time Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timeTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Year</span></th>
            <th><span>Semester</span></th>
            <th><span>Department</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeTable of timeTables ;trackBy: trackId">
                <td><a [routerLink]="['/time-table', timeTable.id, 'view' ]">{{timeTable.id}}</a></td>
                <td>{{timeTable.year}}</td>
                <td>{{timeTable.semester}}</td>
                <td>
                    <div *ngIf="timeTable.departmentId">
                        <a [routerLink]="['../department', timeTable.departmentId , 'view' ]" >{{timeTable.departmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/time-table', timeTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-table', timeTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'time-table', { outlets: { popup: timeTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->
<jhi-toolbar></jhi-toolbar>
<mat-progress-bar *ngIf="!enableTable" [mode]="'indeterminate'"></mat-progress-bar>
<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px" class="full-height">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="full-width">
        <span>
            <h3>Time Table Wizard</h3>
        </span>
        <h4 style="color: gray">{{department.deptName}}</h4>
    </div>
    <mat-divider class="full-width"></mat-divider>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="full-width">
        <h3>Year: {{timeTable.year}} - </h3>
        <h3>Semester: {{timeTable.semester}}</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="full-width" *ngIf="enableTable">
        <span *ngFor="let col of topRow" [fxFlex]="col.span" fxLayoutAlign="center center" class="timetable-span">
            <h5>{{col.header}}</h5>
        </span>
    </div>
    <div class="full-width" *ngIf="enableTable" style="height: 65vh; overflow-y: scroll">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px" class="full-width">
            <mat-divider class="full-width"></mat-divider>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="0px" *ngFor="let day of daysOfWeek"
                class="full-width">
                <div [fxFlex]="100" fxLayout="row" fxLayoutAlign="start center" class="full-width">
                    <div [fxFlex]="7" fxLayout="column" fxLayoutAlign="center center">
                        <h4>{{day}}</h4>
                    </div>
                    <span *ngFor="let class of weekTimeTable[day].subjectsList" [fxFlex]="class.span" fxLayout="column"
                        fxLayoutAlign="center center" fxLayoutGap="0px"
                        style="padding: 0px !important; margin: 0px !important" class="timetable-span">
                        <span *ngFor="let sub of class.subjects" fxLayoutAlign="center center">
                            <h4 *ngIf="checkForString(sub)">{{sub}}</h4>
                            <p *ngIf="!checkForString(sub)" style="font-size: 15px" class="timetable-span-p">
                                {{createParagraph(sub.subject) + ' - ' + sub.location.locationName}}
                            </p>
                        </span>
                    </span>
                </div>
                <mat-divider class="full-width"></mat-divider>
            </div>

        </div>

    </div>
</div>
