<mat-toolbar color="primary" style="background-color: #042443" fxLayout="row" fxLayoutGap="5px">
    <mat-icon>dashboard</mat-icon>
    DASHBOARD
    <span class="column-spacer"></span>
    <button mat-icon-button matTooltip="home" aria-label="Account" (click)="goHome()">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button matTooltip="View Calender" aria-label="Account" (click)="openCalendar()">
        <mat-icon>event</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Account" [matMenuTriggerFor]="menu" aria-label="Account">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openSettingsNav()">
        <mat-icon>settings</mat-icon>
        <span>Account Settings</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
<router-outlet></router-outlet>
