<div>
    <h2 id="page-heading">
        <span>Subject Time Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subject-time-table" [routerLink]="['/subject-time-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Subject Time Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="subjectTimeTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Start Time</span></th>
            <th><span>End Time</span></th>
            <th><span>Class Type</span></th>
            <th><span>Location</span></th>
            <th><span>Subject</span></th>
            <th><span>Day Time Table</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subjectTimeTable of subjectTimeTables ;trackBy: trackId">
                <td><a [routerLink]="['/subject-time-table', subjectTimeTable.id, 'view' ]">{{subjectTimeTable.id}}</a></td>
                <td>{{subjectTimeTable.startTime}}</td>
                <td>{{subjectTimeTable.endTime}}</td>
                <td>{{subjectTimeTable.classType}}</td>
                <td>
                    <div *ngIf="subjectTimeTable.locationId">
                        <a [routerLink]="['../location', subjectTimeTable.locationId , 'view' ]" >{{subjectTimeTable.locationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="subjectTimeTable.subjectId">
                        <a [routerLink]="['../subject', subjectTimeTable.subjectId , 'view' ]" >{{subjectTimeTable.subjectId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="subjectTimeTable.dayTimeTableId">
                        <a [routerLink]="['../day-time-table', subjectTimeTable.dayTimeTableId , 'view' ]" >{{subjectTimeTable.dayTimeTableId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/subject-time-table', subjectTimeTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subject-time-table', subjectTimeTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'subject-time-table', { outlets: { popup: subjectTimeTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
