<!-- <div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registration</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">

                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           formControlName="login">
                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength"
                               >
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength"
                               >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern"
                              >
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                             formControlName="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"
                               >
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"
                              >
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength"
                              >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength"
                              >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                            formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"
                               >
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"
                               >
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"
                               >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                            formControlName="confirmPassword">
                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"
                              >
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"
                             >
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                              >
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>If you want to </span>
                <a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>
    </div>
</div> -->
<mat-toolbar color="primary" style="background-color: #042443" fxLayout="row" fxLayoutGap="5px">
    <mat-icon>dashboard</mat-icon>
    &nbsp; &nbsp; Register User
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx" class="full-height">
<h3>Complete the process</h3>
<mat-accordion style="width: 60%">
    <mat-expansion-panel [expanded]="step === 0" [hideToggle]="step > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Your Selected Paramters
            </mat-panel-title>
            <mat-panel-description>
               Verify Paramters
            <span class="column-spacer"></span>
                <span fxLayout="row" fxLayoutAlign="start center" style="color: #1abc9c">
                    <mat-icon *ngIf="step > 0">check_circle_outline</mat-icon>&nbsp;&nbsp; <span
                        *ngIf="step > 0">Done</span>
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h4>Selected User Type: </h4> <span>{{mode | uppercase}}</span>
        <h4>Selected Department: </h4> <span>{{data.deptName}}</span>
        <mat-action-row>
            <button mat-flat-button color="primary" (click)="nextStep()">Verify</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1"  [hideToggle]="step > 1">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Basic Login Information
            </mat-panel-title>
            <mat-panel-description>
                Enter username, email and password
                <span class="column-spacer"></span>
                <mat-icon *ngIf="step === 1">account_circle</mat-icon>
                <span fxLayout="row" fxLayoutAlign="start center" style="color: #1abc9c">
                <mat-icon *ngIf="step > 1">check_circle_outline</mat-icon>&nbsp;&nbsp; <span *ngIf="step > 1">Done</span>
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" id="login" name="login" placeholder="Your username"
                           formControlName="login">
                    <mat-icon matSuffix>person_add</mat-icon>
                    <mat-hint>Enter Desired Username</mat-hint>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('login').hasError('required')">
                        Your username is required.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('login').hasError('minlength')">
                        Your username is required to be at least 1 character.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('login').hasError('maxlength')">
                        Your username cannot be longer than 50 characters.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('login').hasError('pattern')">
                        Your username can only contain letters and digits.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" name="email" placeholder="Your email"
                             formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Enter Your Email Address</mat-hint>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('email').hasError('required')">
                        Your email is required.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('email').hasError('invalid')">
                        Your email is invalid.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('email').hasError('minlength')">
                        Your email is required to be at least 5 characters.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('email').hasError('maxlength')">
                        Your email cannot be longer than 100 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" class="form-control" id="password" name="password" placeholder="New password"
                            formControlName="password">
                    <mat-icon matSuffix>more_horiz</mat-icon>
                    <mat-hint>Enter Desired Password</mat-hint>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('password').hasError('required')">
                        Your password is required.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('password').hasError('minlength')">
                        Your password is required to be at least 4 characters.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('password').hasError('maxlength')">
                        Your password cannot be longer than 50 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                            formControlName="confirmPassword">
                    <mat-icon matSuffix>more_horiz</mat-icon>
                    <mat-hint>Retype Desired Password</mat-hint>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').hasError('required')">
                        Your confirmation password is required.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').hasError('minlength')">
                        Your confirmation password is required to be at least 4 characters.
                    </mat-error>
                    <mat-error class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').hasError('maxlength')">
                        Your confirmation password cannot be longer than 50 characters.
                    </mat-error>
                </mat-form-field>
            </div>
        <mat-action-row>
            <mat-spinner [diameter]="40" ></mat-spinner> &nbsp; &nbsp;
            <button mat-flat-button type="submit" color="primary" [disabled]="registerForm.invalid" (click)="nextStep()">Create</button>
        </mat-action-row>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Destination
            </mat-panel-title>
            <mat-panel-description>
                Type the country name
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="Country">
        </mat-form-field>

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Day of the trip
            </mat-panel-title>
            <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>
