<!-- <div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registration</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">

                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           formControlName="login">
                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                        <small  *ngIf="registerForm.get('login').errors.required">
                            Your username is required.
                        </small>
                        <small  *ngIf="registerForm.get('login').errors.minlength"
                               >
                            Your username is required to be at least 1 character.
                        </small>
                        <small  *ngIf="registerForm.get('login').errors.maxlength"
                               >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small  *ngIf="registerForm.get('login').errors.pattern"
                              >
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                             formControlName="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <small  *ngIf="registerForm.get('email').errors.required"
                               >
                            Your email is required.
                        </small>
                        <small  *ngIf="registerForm.get('email').errors.invalid"
                              >
                            Your email is invalid.
                        </small>
                        <small  *ngIf="registerForm.get('email').errors.minlength"
                              >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small  *ngIf="registerForm.get('email').errors.maxlength"
                              >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                            formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <small  *ngIf="registerForm.get('password').errors.required"
                               >
                            Your password is required.
                        </small>
                        <small  *ngIf="registerForm.get('password').errors.minlength"
                               >
                            Your password is required to be at least 4 characters.
                        </small>
                        <small  *ngIf="registerForm.get('password').errors.maxlength"
                               >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                            formControlName="confirmPassword">
                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        <small  *ngIf="registerForm.get('confirmPassword').errors.required"
                              >
                            Your confirmation password is required.
                        </small>
                        <small  *ngIf="registerForm.get('confirmPassword').errors.minlength"
                             >
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small  *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                              >
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>If you want to </span>
                <a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>
    </div>
</div> -->
<mat-toolbar color="primary" style="background-color: #042443" fxLayout="row" fxLayoutGap="5px">
    <mat-icon>dashboard</mat-icon>
    &nbsp; &nbsp; Register User
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx" class="full-height">
<h3>Complete the process</h3>
<mat-accordion style="width: 60%">
    <mat-expansion-panel [expanded]="step === 0" [hideToggle]="step > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Your Selected Paramters
            </mat-panel-title>
            <mat-panel-description>
               Verify Paramters
            <span class="column-spacer"></span>
                <span fxLayout="row" fxLayoutAlign="start center" style="color: #1abc9c">
                    <mat-icon *ngIf="step > 0">check_circle_outline</mat-icon>&nbsp;&nbsp; <span
                        *ngIf="step > 0">Done</span>
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h4>Selected User Type: </h4> <span>{{mode | uppercase}}</span>
        <h4>Selected Department: </h4> <span>{{data.deptName}}</span>
        <mat-action-row>
            <button mat-flat-button color="primary" (click)="nextStep()">Verify</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1"  hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Basic Login Information
            </mat-panel-title>
            <mat-panel-description>
                Enter username, email and password
                <span class="column-spacer"></span>
                <mat-icon *ngIf="step === 1">account_circle</mat-icon>
                <span fxLayout="row" fxLayoutAlign="start center" style="color: #1abc9c">
                <mat-icon *ngIf="step > 1">check_circle_outline</mat-icon>&nbsp;&nbsp; <span *ngIf="step > 1">Done</span>
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" id="login" name="login" placeholder="Your username"
                           formControlName="login">
                    <mat-icon matSuffix>person_add</mat-icon>
                    <mat-hint>Enter Desired Username</mat-hint>
                    <mat-error  *ngIf="registerForm.get('login').hasError('required')">
                        Your username is required.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('login').hasError('minlength')">
                        Your username is required to be at least 1 character.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('login').hasError('maxlength')">
                        Your username cannot be longer than 50 characters.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('login').hasError('pattern')">
                        Your username can only contain letters and digits.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" name="email" placeholder="Your email"
                             formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Enter Your Email Address</mat-hint>
                    <mat-error  *ngIf="registerForm.get('email').hasError('required')">
                        Your email is required.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('email').hasError('email')">
                        Your email is invalid.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('email').hasError('minlength')">
                        Your email is required to be at least 5 characters.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('email').hasError('maxlength')">
                        Your email cannot be longer than 100 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" class="form-control" id="password" name="password" placeholder="New password"
                            formControlName="password">
                    <mat-icon matSuffix>more_horiz</mat-icon>
                    <mat-hint>Enter Desired Password</mat-hint>
                    <mat-error  *ngIf="registerForm.get('password').hasError('required')">
                        Your password is required.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('password').hasError('minlength')">
                        Your password is required to be at least 4 characters.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('password').hasError('maxlength')">
                        Your password cannot be longer than 50 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                            formControlName="confirmPassword">
                    <mat-icon matSuffix>more_horiz</mat-icon>
                    <mat-hint>Retype Desired Password</mat-hint>
                    <mat-error  *ngIf="registerForm.get('confirmPassword').hasError('required')">
                        Your confirmation password is required.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('confirmPassword').hasError('minlength')">
                        Your confirmation password is required to be at least 4 characters.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('confirmPassword').hasError('maxlength')">
                        Your confirmation password cannot be longer than 50 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" class="form-control" id="firstName" name="firstName"
                        placeholder="Type in First Name" formControlName="firstName">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint>Just before last name</mat-hint>
                    <mat-error  *ngIf="registerForm.get('firstName').hasError('required')">
                        Your First Name is required.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('firstName').hasError('minlength')">
                        Your First Name is required to be at least 4 characters.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('firstName').hasError('maxlength')">
                        Your First Name cannot be longer than 50 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" class="form-control" id="lastName" name="lastName"
                        placeholder="Type in last Name" formControlName="lastName">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint>Your Surname</mat-hint>
                    <mat-error  *ngIf="registerForm.get('lastName').hasError('required')">
                        Your Last Name is required.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('lastName').hasError('minlength')">
                        Your Last Name is required to be at least 4 characters.
                    </mat-error>
                    <mat-error  *ngIf="registerForm.get('lastName').hasError('maxlength')">
                        Your last Name cannot be longer than 50 characters.
                    </mat-error>
                </mat-form-field>
            </div>
        <mat-action-row fxLayout="row" fxLayoutAlign="end center">
            <mat-spinner [diameter]="40" *ngIf="isSaving"></mat-spinner> &nbsp; &nbsp; <span  *ngIf="isSaving">{{savingMsg}} &nbsp; &nbsp;</span>
            <button mat-flat-button type="submit" color="primary" [disabled]="registerForm.invalid">Create</button>
        </mat-action-row>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Activate Account & Specfic Information
            </mat-panel-title>
            <mat-panel-description>
                Activate and Register Specific Info
                <span class="column-spacer"></span>
                <span fxLayout="row" fxLayoutAlign="start center" style="color: #1abc9c">
                    <mat-icon *ngIf="savedEnitity">check_circle_outline</mat-icon>&nbsp;&nbsp; <span *ngIf="savedEnitity">Done</span>
                    &nbsp;&nbsp; <button mat-button color="primary" *ngIf="savedEnitity" (click)="goToLogin()"><mat-icon>open_in_new</mat-icon>Login</button>
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
           <span *ngIf="!activated">Click on Activate to Activate Account and Continue</span> <span class="column-spacer"></span><mat-spinner [diameter]="40" *ngIf="isActivating"></mat-spinner> &nbsp; &nbsp; <span *ngIf="isActivating">{{savingMsg}} &nbsp;
                &nbsp;</span>  <button *ngIf="!activated" mat-flat-button (click)="activateAccount(user.id)" color="primary">Activate</button>
                <mat-icon style="color: #1abc9c" *ngIf="activated">check_circle_outline</mat-icon>&nbsp;&nbsp; <span *ngIf="activated" style="color: #1abc9c">Activated</span>
        </div>
        <form name="form" role="form" (ngSubmit)="registerHOD()" [formGroup]="hodForm" *ngIf="mode === 'hod' && activated" >
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Authorization Code</mat-label>
                    <input matInput type="text" placeholder="Enter a Authorization Code" formControlName="authCode">
                    <mat-icon matSuffix>person_add</mat-icon>
                    <mat-hint>This is authorize Department Actions</mat-hint>
                    <mat-error  *ngIf="hodForm.get('authCode').hasError('required')">
                        Your Authorization Code is required.
                    </mat-error>
                </mat-form-field>
            </div>

        <mat-action-row fxLayout="row" fxLayoutAlign="end center">
            <mat-spinner [diameter]="40" *ngIf="isSavingEntity"></mat-spinner> &nbsp; &nbsp; <span *ngIf="isSavingEntity">{{savingMsg}} &nbsp;
                &nbsp;</span>
            <button type="submit" mat-flat-button color="primary" [disabled]="hodForm.invalid">Create</button>
        </mat-action-row>
        </form>
        <form name="form" role="form" (ngSubmit)="registerFaculty()" [formGroup]="facultyForm" *ngIf="mode === 'faculty' && activated" >
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
            <mat-form-field style="width: 60%" appearance="standard">
                <mat-label>Faculty Code</mat-label>
                <input matInput type="text" placeholder="Enter Your Faculty Code" formControlName="facultyCode">
                <mat-icon matSuffix>person_add</mat-icon>
                <mat-hint>The name which appears in the time tables</mat-hint>
                <mat-error  *ngIf="facultyForm.get('facultyCode').hasError('required')">
                    Your Faculty Code is required
                </mat-error>
            </mat-form-field>
        </div>

        <mat-action-row fxLayout="row" fxLayoutAlign="end center">
            <mat-spinner [diameter]="40" *ngIf="isSavingEntity"></mat-spinner> &nbsp; &nbsp; <span
                *ngIf="isSavingEntity">{{savingMsg}} &nbsp;
                &nbsp;</span>
            <button type="submit" mat-flat-button color="primary" [disabled]="facultyForm.invalid">Create</button>
        </mat-action-row>
        </form>

        <form name="form" role="form" (ngSubmit)="registerStudent()" [formGroup]="studentForm"
            *ngIf="mode === 'student' && activated">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Year Joined</mat-label>
                    <input matInput type="number" placeholder="Your Joining Year" formControlName="yearJoined">
                    <mat-icon matSuffix>person_add</mat-icon>
                    <mat-hint>The Year you joined here</mat-hint>
                    <mat-error  *ngIf="studentForm.get('yearJoined').hasError('required')">
                        Year Joined is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Current Session</mat-label>
                    <input matInput type="text" placeholder="Your Current Session" formControlName="currentSession">
                    <mat-icon matSuffix>person_add</mat-icon>
                    <mat-hint>Example 2018-19</mat-hint>
                    <mat-error *ngIf="studentForm.get('currentSession').hasError('required')">
                        Current Session is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Year </mat-label>
                    <mat-select formControlName="currentYear">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                    </mat-select>
                    <mat-error *ngIf="studentForm.get('currentYear').hasError('required')">
                        Current year is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field  style="width: 60%" appearance="standard" *ngIf="studentForm.get('currentYear').valid">
                    <mat-label>Semester</mat-label>
                    <mat-select formControlName="currentSem">
                        <mat-option *ngFor="let sem of getSemester(studentForm.get('currentYear').value)" value="sem">{{sem}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="studentForm.get('currentSem').hasError('required')">
                        Current semester is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 60%" appearance="standard">
                    <mat-label>Class Roll Number</mat-label>
                    <input matInput type="number" placeholder="Your Class Roll Number" formControlName="classRollNumber">
                    <mat-icon matSuffix>person_add</mat-icon>
                    <mat-hint>The key to your attendance</mat-hint>
                    <mat-error *ngIf="studentForm.get('classRollNumber').hasError('required')">
                        Class Roll Number is required
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-action-row fxLayout="row" fxLayoutAlign="end center">
                <mat-spinner [diameter]="40" *ngIf="isSavingEntity"></mat-spinner> &nbsp; &nbsp; <span
                    *ngIf="isSavingEntity">{{savingMsg}} &nbsp;
                    &nbsp;</span>
                <button type="submit" mat-flat-button color="primary" [disabled]="studentForm.invalid">Create</button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>
</mat-accordion>

</div>
