@import '~@angular/material/theming';
@include mat-core();
$md-primary: (
  '50': #e1e5e9,
  '100': #b4bfc9,
  '200': #8294a5,
  '300': #506980,
  '400': #2b4865,
  '500': #05284a,
  '600': #042443,
  '700': #041e3a,
  '800': #031832,
  '900': #010f22,
  'A100': #5e8cff,
  'A200': #2b68ff,
  'A400': #0047f7,
  'A700': #003fde,
  contrast: (
    '50': #000000,
    '100': #000000,
    '200': #000000,
    '300': #ffffff,
    '400': #ffffff,
    '500': #ffffff,
    '600': #ffffff,
    '700': #ffffff,
    '800': #ffffff,
    '900': #ffffff,
    'A100': #000000,
    'A200': #ffffff,
    'A400': #ffffff,
    'A700': #ffffff
  )
);
$md-accent: (
  '50': #fff5e7,
  '100': #ffe6c2,
  '200': #ffd59a,
  '300': #ffc471,
  '400': #ffb752,
  '500': #ffaa34,
  '600': #ffa32f,
  '700': #ff9927,
  '800': #ff9021,
  '900': #ff7f15,
  'A100': #ffc471,
  'A200': #ffaa34,
  'A400': #ff9021,
  'A700': #ff7f15,
  'contrast': (
    '50': #000000,
    '100': #000000,
    '200': #000000,
    '300': #000000,
    '400': #000000,
    '500': #000000,
    '600': #000000,
    '700': #000000,
    '800': #000000,
    '900': #000000,
    'A100': #fff,
    'A200': #fff,
    'A400': #fff,
    'A700': #fff
  )
);

$stect-primary: mat-palette($md-primary, A200, A100, A400);
$stect-accent: mat-palette($md-accent, A200, A100, A400);
$stect-theme: mat-light-theme($stect-primary, $stect-accent);
@include angular-material-theme($stect-theme);
