<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="day">
            <h2><span>Day</span> {{day.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{day.type}}</span>
                </dd>
                <dt><span>Day Of The Week</span></dt>
                <dd>
                    <span>{{day.dayOfTheWeek}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{day.date}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/day', day.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
